doctype html
html
  head
    meta(name='viewport',content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/public/bootstrap/css/styles.css')
    link(rel='stylesheet', href='/public/stylesheets/style.css')
  body
    block content

    script(src='/public/jquery/jquery-2.1.3.min.js')
    script(src='/public/bootstrap/js/bootstrap.min.js')