doctype html
html
  head
    meta(name='viewport',content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/public/bootstrap/amelia/css/bootstrap.css')
    link(rel='stylesheet', href='/public/stylesheets/style.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Voltaire')
  body
    block content

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(src='/public/bootstrap/js/bootstrap.min.js')